body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* For all elements with a scrollbar */
::-webkit-scrollbar {
  @apply rounded-none w-[4px] bg-black ;
}

/* For the thumb of the scrollbar */
::-webkit-scrollbar-thumb {
  @apply rounded-md bg-white bg-opacity-25 ;
}

/* For the track of the scrollbar */
::-webkit-scrollbar-track {
  @apply rounded-none bg-transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;